
################################################################
# This can be change to the PRODUCT_DIR / $CONDOR_STRIPPED_DIR
################################################################	
#RELEASE_DIR = ${CONDOR_STRIPPED_DIR}
#SHARED_PORT = ${CONDOR_STRIPPED_DIR}/libexec/condor_shared_port
CCB_HEARTBEAT_INTERVAL = 90

PRIVATE_NETWORK_NAME = ncsa.illinois.edu
 
## Pool's short description
COLLECTOR_NAME = dev_pool

START = TRUE
SUSPEND = FALSE
PREEMPT = FALSE
KILL = FALSE
 
# DAEMON_LIST = MASTER, STARTD, SHARED_PORT
DAEMON_LIST = MASTER, STARTD
SEC_CLIENT_AUTHENTICATION_METHODS = CLAIMTOBE
SEC_DEFAULT_AUTHENTICATION_METHODS = CLAIMTOBE
WANT_UDP_COMMAND_SOCKET = False
UPDATE_COLLECTOR_WITH_TCP = True

# General PBS information -- for now this is done by the worker
STARTER_JOB_ENVIRONMENT = "HOSTNAME=$ENV(HOSTNAME) PBS_JOBID=$ENV(PBS_JOBID)"
